{% load staticfiles %}
<html>
	<head>
    	<link href="{% static 'graphs/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    	<link href="{% static 'graphs/css/style.css' %}" rel="stylesheet" media="screen">
    	<link href="{% static 'graphs/css/toolkit-minimal.min.css' %}" rel="stylesheet" media="screen">
    	<link href="{% static 'graphs/css/bokeh-0.12.4.min.css' %}" rel="stylesheet" media="screen">
    <div class="p-y-m p-x" style="background-size: cover">
	 	<nav style="background-color: white;" class="navbar navbar-light nav-bordered navbar-fixed-top m-b-0">
	    	<div class="container-fluid">
		      	<div class="navbar-header pull-left">
		        	<a class="spin" href="#">
		          		<img style="display: block; margin: auto; width: 60%;"
    						src="{% static "graphs/images/trialpha_logo.png" %}" alt="banner"/>
		        	</a>
		      	</div>
		      	<div class="navbar pull-right" id="navbar-collapse-com">
		        	<ul class="nav navbar-nav navbar-right">
		          		<li><a class = "black" href="#d3">D3</a></li>
		          		<li><a class = "black" href="#highcharts">HichCharts</i></a></li>
		          		<li><a class = "black" href="#bokeh">Bokeh</a></li>
		        	</ul>
		      	</div>
	    	</div>
	  	</nav>
	</div>
  	</head>

  	<body>
  		<script type="text/javascript" src="{% static 'graphs/javascript/jquery-3.1.1.js' %}"></script>
  		<script type="text/javascript" src="{% static 'graphs/javascript/highcharts.js' %}"></script>
    	<script type="text/javascript" src="{% static 'graphs/javascript/bootstrap.min.js' %}"></script>
    	<script type="text/javascript" src="{% static 'graphs/javascript/d3.min.js' %}"></script>
    	<script type="text/javascript" src="{% static 'graphs/javascript/bokeh-0.12.4.min.js' %}"></script>
    	{% block content %}
    	{% endblock %}
		
		
  	</body>
</html>