{% extends "graphs/base.html" %}
{% load staticfiles %}
{% block content %}
    <script type="text/javascript">
        var d3_data = {{ d3_data|safe }}
        var highcharts_data = {{ highcharts_data|safe }}
    </script>
    <div class="block d3" id="d3">
        <script src="{% static 'graphs/javascript/c2_d3.js' %}"></script>
        <h1 style="text-align: center;">D3</h1>
    </div>
    <div class="block highcharts" id="highcharts">
        <h1>HighCharts</h1>
    </div>
    <div class="block bokeh" id="bokeh">
        <h1>Bokeh</h1>
    </div>
{% endblock %}

